body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background: #111827;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #fff;
  margin-left: 2rem;
  text-decoration: none;
}

@media (max-width: 725px) {
  nav{
    background-color: rgba(59, 57, 56, 0.85);
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}

.hero {
  background: #2563eb;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 1rem;
}